body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 40px;
}

.orange {
    color: orange
}

.container {
    display: flex;
    margin-bottom: 150px;
}

.dream {
    width: 50%;
    padding: 5%;
}

.dream img {
    width: 80%
}

.linkbutton {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#stake {
    border-left: 7px solid tomato;
    border-radius: 10px;
    padding: 10px;
}

#junior {

    border-left: 7px solid blue;
    border-radius: 10px;
    padding: 10px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
}


footer p {
    text-align: center
}